html, body
{
  height: 100%;
  margin: 0;
  background-color: aqua;
}

.header img
{
	width: 80px;
    margin-right: 15px;
}

.login_div
{
	background:wheat;
    float: none;
    border-radius:11px;
}

.logo
{
	width: 70px;
    margin-top: 30px;
    border-radius: 40px;
}

#login_button
{
	width: 80%;
}

